<div class="container">
    <div class="jumbotron">
        <h1>밥사줘 랜덤게임</h1> 
        <form action="/result" >
          <h2>내기 할 메뉴 입력</h2>
          <input type="text" name="food" class="form-control" aria-describedby="sizing-addon1" ><br>
          <input type="submit" value="Submit"  class="btn btn-primary btn-lg" > 
        </form>
    </div>
</div>